/* programmatically */

#gadget-griddles {
  -webkit-box-sizing: border-box;
  width: 99%;
  padding-top: 0px!important;
  -webkit-box-sizing: border-box;
}


/* NOT programmatically */
html {
  overflow-y: hidden!important;
}

.home-griddles {
  text-align: left;
}

.stream {
	/* background-color: transparent; */
	float: left;
  padding-top: 10px;
}

.content {
  padding: 0px 0px;
}

.body {
  /* background-color: #e5e5e5!important; */
}

#gadget-griddles {
  /* background-color: #e5e5e5; */
}

.card-reserve {
	/* background-color: #e5e5e5; */
}

.card {
	position: relative;
	background-color: #fff;
	/*border-radius: 2px;*/
	-webkit-box-sizing: border-box;
	/*box-shadow: 0px 1px 1px #BBB4A5;*/
}

.card {
  opacity: 1;
  display: inline-block;
  transform: scale(1);
  transition-timing-function: ease-out;
  backface-visibility: hidden;
  perspective: 1000;
  transition-duration: 0.3s;
}

.card-non-visible {
	opacity: 1;
    transform: scale(0);
}

.card-reserve {
  position: relative;
}

.shadow-bottom {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   border-radius: inherit;
   pointer-events: none;
   /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}


.shadow-top {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   border-radius: inherit;
   pointer-events: none;
   /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);*/
}

.shadow {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   border-radius: inherit;
   pointer-events: none;
}